.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  background: rgba(31, 31, 31, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  border-radius: 0 0 10px 10px;
  margin-bottom: 30px;
}

.navbar.scrolled {
  background: rgba(31, 31, 31, 0.85);
  backdrop-filter: blur(10px);
  padding: 1.5rem 2rem;
  border-radius: 0 0 10px 10px;
}

.nav-links ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #ff6b6b;
  transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links .activo::after {
  width: 100%;
}

/* menú hamburguesa */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
  position: absolute;
  right: 20px;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 2px;
  transition: 0.3s ease;
}

.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 5px);
}
.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

/* responsive */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 2%;
    background: #1f1f1f;
    width: 60vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    border-radius: 8px;
  }

  .nav-links.active {
    max-height: 500px;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1.5rem;
  }
}
